* {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    background-color: rgb(61, 59, 60);
}
img {
    width: 60%;
    height: auto;
    align-self: center;
}

h1 {
    padding: 5%;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}

.home{
    text-align: center;
}
.home.header,
.instruction-bg{
    background-color: lightgrey;
    padding: 10px;
    color: rgb(109, 5, 5);
}
#header-bg {
    width: 100%;
    align-content: center;
    margin-top: 0;
    padding-top: 0;
}
.links li {
    color: white;
}
a {
    color: white;
    font-style: none;
    text-decoration: none;
    font-size: 20px;
    background-color: #7F7979;
    border-radius: 5px;
    padding: 0;
}

